body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*test commit*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    border-top: 1px solid #eeeeee;
    width: 100%;
}


.login h2 {
    margin-bottom: 30px;
}

.login footer {
    position: fixed;
    bottom: 0;
}

.hero-feature {
    margin-bottom: 10px;
}
/*.login label{
    color: #fff;
}*/

/*body.login {
   background-image: url('img/loginbg.jpg') none;
   background: #04025E url('img/loginbg.jpg') no-repeat left top;

}*/
body.activities .thumbnail {
    min-height: 330px;
    margin-bottom: 10px;
}

@media (min-width: 767px) {
    .thumbnail img {
        width:50% !important;
    }
}

@media (min-width: 768){
    .thumbnail img {
        width:100% !important;
    }
}
