
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>

<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
    <div class="row">
        <h4><label for="name">Before travel</label></h4>
    </div>
    <div class="row">
        <label for="name">Booking ref:</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="email">Subject:</label><br />
        <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    </div>
    <div class="row">
        <label for="message">Description:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="32"></textarea><br />
    </div>
    <div class="row">
        <label for="message">Email Address:</label><br />
        <input id="message" class="input" name="message" size="30"/><br /><br />
    </div>
    <div class="row">
        <input id="submit_button" type="submit" value="Submit" /><br/><br />
    </div>
    <div class="row">
        <h4><label for="name">In Resort</label></h4>
    </div>
    <div class="row">
        <label for="phone">Phone: 02033848453</label><br />
    </div>
    <div class="row">
        <label for="message">Live Chat:</label><br />
    </div>

</form>