@model Travel.Web.ViewModels.JourneyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                Name
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var journeyType in Model.journeyTypeList)
        {
            <tr>
                <td>
                    @journeyType.Id
                </td>
                <td>
                    @journeyType.Name
                </td>
                <td>
                    @*<a id=@("editJourneyType"+journeyType.Id) href="/Journey/Edit">Edit</a>&nbsp;*@
                    <a href="@Url.Action("Edit",new  {@id=journeyType.Id, @JourneyTypeName=journeyType.Name })">Edit</a>

                    <a id=@("deleteJourneType"+journeyType.Id) onclick="deleteJourneyType(@journeyType.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<h2>Create New Journey Type</h2>

<label for="newJourneyType" id="">Journey Type</label>
<input type="text" id="newJourneyType" />
<br />
<button id="createNewJourneyType" type="submit">Create</button>

@section scripts{
    <script src="~/Scripts/App/journey.js" type="text/javascript"></script>
}
