@model Travel.Web.ViewModels.NotificationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Booking </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var notification in Model.Notifications)
                    {
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> @notification.NotificationText
                            <span class="pull-right text-muted small">
                                <em>@notification.NotificationDate</em>
                            </span>
                        </a>
                    }

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">In Resort</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var offer in Model.Offers)
                    {
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> @offer.NotificationText
                            <span class="pull-right text-muted small">
                                <em>@offer.NotificationDate</em>
                            </span>
                        </a>
                    }

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Offers</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>